/* Global styles */
/*:root { */
h1 {
  color: #313030;
  font-family: 'Quicksand', sans-serif;
  font-size: 50px;
}

h2 {
  color: #313030;
  font-family: 'Quicksand', sans-serif;
}

p {
  color: #313030;
  font-family: 'Quicksand', sans-serif;
}

header {
  display: inline-flex;
  background-color: red;
}

#main-menu {
  display: flex;
  background-color: orange;
}

#navigation {
  display: inline-flex;
  float: right;
  justify-content: flex-end;
  align-items: center;
  background-color: yellow;
}

#menu-title {
  display: flex;
  float: left;
  font-size: 40px;
  background-color: green;
}
.menu-item {
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
  background-color: blue;
}

li {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

body {
  background-color: #ffffff;
}

--section-padding: 5px;
/*} */

/*Homepage color scheme*/
.dark-green {
  background-color: #418a06;
}

.med-green {
  background-color: #56b608;
}

.light-green {
  background-color: #65d607;
}
