/* Global styles */
:root {
  h1 {
    color: #313030;
    font-family: 'Quicksand', sans-serif;
  }

  h2 {
    color: #313030;
    font-family: 'Quicksand', sans-serif;
  }

  p {
    color: #313030;
    font-family: 'Quicksand', sans-serif;
  }

  body {
    background-color: #ffffff;
  }

  --section-padding: 5px;
}

/*Homepage color scheme*/
.dark-green {
  background-color: #418a06;
}

.med-green {
  background-color: #56b608;
}

.light-green {
  background-color: #65d607;
}
